@CHARSET "UTF-8";

 ul>li {
	display: inline-block;
	margin: 3px;
	/* You can also add some margins here to make it look prettier */
	zoom: 1;
	*display: inline;
	/* this fix is needed for IE7- */
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}